#g{
    color:rgb(45, 164, 235);
    font-size: 150px;
}
#o{
    color: red;
    font-size: 150px;
}
#k{
    color: yellow;
    font-size: 150px;
}
#l{
    color: rgb(45, 155, 230);
    font-size: 150px;
}
#t{
    color: green;
    font-size: 150px;
}
#e{
    color: red;
    font-size: 150px;
}
